*,
*::after,
*::before {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  min-width: 320px;
}

.paragraph {
  margin: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.heading {
  margin: 0;
  font-weight: bold;
  font-family: "Cormorant Garamond", "Times New Roman", sans-serif;
  font-style: normal;
}

.link {
  text-decoration: none;

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}

.button {
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Poppins", "Arial", sans-serif;

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}

.block-heading {
  font-weight: bold;
  font-size: 34px;
  line-height: 44px;
  color: $dark;
  margin-bottom: 25px;
}

.block-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: $dark;
  border-bottom: 1px solid $brown;
}

input[type="submit"],
input[type="checkbox"] {
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}

label {
  outline: 0;

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}
